:root {
    --basic-black: #000000;
    --basic-dark: #283136;
    --basic-gray: #EEEEEE;
    --red: #FB565A;
    --dark-red: #E74246;
    --extra-red: #D7373B;
    --basic-white: #ffffff;
    --green: #00CA74;
    --dark-green: #00BC6C;
    --extra-green: #00AA62;
    --yellow: #EFC849;
    --dark-yellow: #EAB534;
    --extra-yellow: #E5A722;
    --dark-gray: #666666;
    --light-gray: #E1E1E1;
    --extra-gray: #444444;
    --gray: #D7DCDE;
    --white-opacity: rgba(255, 255, 255, 0.3);
    --shadow: rgba(0, 1, 1, 0.1);
}
body {
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-dark);
    margin: 0;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
 .main-header {
    background-color: var(--basic-gray);
 } 
.site-nav-item a {
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--basic-black);
}
.site-nav-item a:hover {
    color: var(--red);
}
.site-nav-item a:active {
    color: var(--basic-black);
    opacity: 0.3;
}
.cart a {
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--basic-black);
}
.cart a:hover {
    color: var(--red);
}
.cart a:active {
    color: var(--basic-black);
    opacity: 0.3;
}
.slider {
    background-color: var(--basic-gray);
    margin-bottom: 80px;
}

.slider-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding-left: 140px;
    padding-right: 140px;
}
.slider-1 {
    background-image: url(../img/nerds-index-slide1.png);
    background-repeat: no-repeat; 
    background-position: right;
}
.slider-2 {
    background-image: url(../img/nerds-index-slide2.png);
    background-repeat: no-repeat; 
    background-position: right;
}
.slider-3 {
    background-image: url(../img/nerds-index-slide3.png);
    background-repeat: no-repeat;
    background-position: right;

}
 .advantages {
    display: flex;
} 
.slider-1 .slider-content {
    width: 397px;
}
.slider-2 .slider-content {
    width: 538px;
}
.slider-3 .slider-content {
    width: 415px;
}
.advantages .title {
    font-size: 55px;
    line-height: 55px;
    font-weight: 500;
    color: var(--basic-black);
    margin: 0;
    margin-top: 79px;
    margin-bottom: 26px;
}
.slider-content p {
    margin: 0;
}
.slider-1 .title {
    text-align: center;
}
.slider-2 .title {
    text-align: center;
}
a.button {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    background-color: var(--red);
    color: var(--basic-white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 17px 54px 15px 54px;
    margin-top: 39px;
    margin-bottom: 80px;
    display: inline-block;
    border-radius: 3px;
}
a.button:hover {
    background-color: var(--dark-red);
}
a.button:active {
    background-color: var(--extra-red);
    box-shadow: inset 0 3px 0 0 var(--shadow);
    color: var(--white-opacity);
    
}
.services h3 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 0;
    margin-bottom: 16px;
}
.services {
    width: 1160px;
    margin: 0 auto;
    padding-left: 140px;
    padding-right: 140px;

}
.services-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
    padding-right: 60px;
    border-bottom: var(--basic-gray) 1px solid;

}
.services-list-item {
    width: 300px;
    display: flex;
    flex-direction: column;
}
.services-list-item img {
    order: -1;
    margin-bottom: 25px;
}
.services-list-item p {
    margin: 0;
    margin-bottom: 32px;
    width: 260px;
}
a.button-order {
    
    padding: 17px 40px 15px 39px;
    margin-bottom: 80px;
    width: 160px;
    display: inline-block;
    border-radius: 3px;
    box-sizing: border-box;
}
.services-list-item .green {
    background-color: var(--green);
}
.services-list-item .green:hover {
    background-color: var(--dark-green);
}
.services-list-item .green:active {
    background-color: var(--extra-green);
}
.services-list-item .yellow {
    background-color: var(--yellow);
}
.services-list-item .yellow:hover {
    background-color: var(--dark-yellow);
}
.services-list-item .yellow:active {
    background-color: var(--extra-yellow);
}
.about {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 75px;
    padding-left: 140px;
    padding-right: 140px;
}
.about-wrapper {
    display: flex;
    justify-content: space-between;
}
.about-text {
    width: 660px;
}
.about-img {
    width: 360px;
    margin-top: 39px;
}
.slogan-about b {
    font-size: 45px;
    line-height: 45px;
    font-weight: 500;
    color: var(--basic-black);
    margin-top: 73px;
}
.about-text .slogan-about {
    margin-top: 73px;
    margin-bottom: 32px;
}

.about-text .principle {
    margin-bottom: 40px;
}
.about h3 {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 23px;
}
.about-img h3 {
    text-align: center;  
}
.order-list {
    padding: 0;
    margin: 0;  
    list-style: none;
    padding-left: 32px;
}
.order-list  li {
    position: relative;
    margin-bottom: 23px;
}
.order-list  li::before {
    content: url(../img/list-marker.svg);
    position: absolute;
    bottom: 5px;
    left: -32px;
}
.about-img img {
    margin-bottom: 37px;
    display: block;
}
/* table {
    border: #000000 1px solid;
    border-collapse: collapse;
} */
table .percent {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
    color: var(--basic-black);
    /* border: #000000 1px solid; */
    padding-bottom: 10px;
    padding-right: 20px;
}
table .table-description {
    line-height: 18px;
    /* border: #000000 1px solid; */

}
.percent span {
    font-size: 26px;
    line-height: 40px;
    position: absolute;
    top: 6px;
}
.percent {
    position: relative;
}

.clients {
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding-left: 140px;
    padding-right: 140px;
}
.clients-wrapper {
    display: flex;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 46px;
    border-top: 1px solid var(--basic-gray);
    border-bottom: 1px solid var(--basic-gray);
}
.clients a {
    display: block;
    opacity: 0.2;
}
.clients a:hover {
    opacity: 1;
}
.clients a:active {
    opacity: 0.1;
}
a.client-htmlacademy {
    width: 199px;
    height: 57px;
    margin-left: 32px;
    margin-right: 95px;
    position: relative;
}
a.client-htmlacademy::after {
    position: absolute;
    content: url(../img/border-vertical.svg);
    right: -48px;
    top: 5px;
}
a.client-borodinskii {
    width: 209px;
    height: 90px;
    margin-right: 104px;
    position: relative;
}
a.client-borodinskii::after {
    position: absolute;
    content: url(../img/border-vertical.svg);
    right: -44px;
    top: 25px;
}
a.client-pink {
    width: 185px;
    height: 52px;
    margin-right: 120px;
    position: relative;
}
a.client-pink::after {
    position: absolute;
    content: url(../img/border-vertical.svg);
    right: -55px;
    top: 5px;
}
a.client-mishka {
    width: 173px;
    height: 84px;
}
.contacts {
    width: 1440px;
    margin: 0 auto;
    position: relative;
    margin-bottom: 68px;
}
div.contact-content {
    box-sizing: border-box;
    width: 320px;
    height: 308px;
    background-color: var(--basic-white);
    padding-top: 49px;
    padding-bottom: 47px;
    padding-left: 50px;
    padding-right: 50px;
    position: absolute;
    left: 140px;
    top: 54px;
}
img.mark {
    position: absolute;
    top: 70px;
    right: 362px;
}
.contacts h3 {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
    color: var(--basic-black);
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 23px;

}
.contacts address {
    line-height: 18px;
    color: var(--dark-gray);
    font-style: normal;
    margin-bottom: 20px;
}
.contacts .phone {
    display: block;
    margin-bottom: 37px;
}
.contact-content .button {
    display: inline-block;
    margin: 0;
    padding: 17px 44px 15px 44px;
    width: 219px;
    box-sizing: border-box;
}
.contacts .phone {
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color: var(--dark-gray);
}
div.social {
    width: 1160px;
    margin: 0 auto;
    padding-left: 140px;
    padding-right: 140px;
    margin-bottom: 68px;
}
.social-wrapper {
    width: 1060px;
    display: flex;
    justify-content: space-between;
}
.social-list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 261px;
    display: flex;
    justify-content: space-between;
}
.social-list-item {
    background-color: var(--light-gray);
    width: 81px;
    height: 81px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-content {
    width: 660px;
}
p.slogan-social {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    color: var(--basic-black);
    margin: 0;
    margin-bottom: 10px;
}
p.discount {
    line-height: 22px;
    color: var(--extra-gray);
    margin: 0;
}
.feedback h2 {
    font-size: 45px;
    line-height: 53px;
    color: var(--basic-black);
}
.feedback label {
    line-height: 18px;
    font-weight: 700;
    color: var(--basic-black);
}
input[type=text]::placeholder {
    color: var(--gray);
    line-height: 18px;
}
input[type=email]::placeholder {
    color: var(--gray);
    line-height: 18px;
}
.feedback textarea {
    color: var(--gray);
    line-height: 18px;
}
.feedback .send {
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    background-color: var(--red);
    color: var(--basic-white);
    text-transform: uppercase;
}
.nav-wrapper {
    width: 1160px;
    /* border: 1px solid #000000; */
    margin: 0 auto;
    padding-top: 50px;
    padding-left: 140px;
    padding-right: 140px;
}
.site-navigation {
    display: flex;
}
.site-nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    row-gap: 15px;
   
    padding-top: 26px;

}
.logo-header {
    width: 160px;
    margin-right: 202px;
}
.cart {
    width: 112px;
    margin-left: auto;
    padding-top: 26px;
    display: flex;
    justify-content: space-between;
}
.site-navigation p {
    margin: 0;
}
.cart-img {
    display: block;
    padding-top: 7px;
}











/* CATALOG */
.filters legend {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}
